@import '../../theme/theme.scss';

.dsmeta-sales-title {
    color: var(--title);
    font-size: 24px;
    margin-bottom: 20px;
}

.input-button {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    a {
        align-self: flex-end;
        background-color: var(--text-secondary);
        padding: 10px 15px;
        border-radius: 6px;
        color: var(--text-button);
        font-weight: bold;
        transition: all .2s;

        &:hover {
            background-color: var(--text-secondary);
            
        }
    }
}

.dsmeta-form-control-container {
    margin-bottom: 16px;
    max-width: 300px;

    .dsmeta-form-control {
        width: 100%;
        height: 46px;
        background-color: var(--input-background);
        border: 1px solid #384459;
        border-radius: 5px;
        color: var(--text-secondary);
        padding: 0 20px;
        font-size: 18px;
    }
}

.dsmeta-sales-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    thead {
        height: 55px;
        font-size: 16px;
        color: var(--text-primary);
        font-weight: 700;
    }

    tbody {
        font-size: 14px;
        font-weight: 400;
        color: var(--row-text);
        text-align: center;

        tr {
            height: 74px;
            border-top: 1px solid #5f6e82;

            &:hover>td {
                background-color: var(--row-hover);
            }

            &:nth-child(odd) {
                background-color: var(--row-odd);
            }
        }

        .dsmeta-red-btn-container {
            display: flex;
            justify-content: center;
        }
    }
}


.show576,
.show992 {
    display: none;
}

@media (min-width: 576px) {
    .show576 {
        display: table-cell;
    }

    .input-button {
        flex-direction: row;
    }

    .dsmeta-sales-table tbody tr {
        height: 55px;

        tbody {
            font-size: 18px;
        }
    }
}

@media (min-width: 992px) {
    .show992 {
        display: table-cell;
    }
}