.dsmeta-card {
  background-color: #283142;
  border-radius: 10px;
  padding: 30px 10px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .dsmeta-card {
    padding: 35px;
  }
}